.place__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 106%;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    min-width: 460px;
    margin-top: 0;
    margin-bottom: 0;
}


@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 800px) {
    .place__title {
        line-height: 110%;
        font-size: 46px;
        min-width: 350px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        max-width: 340px;
    }
}

@media screen and (max-width: 700px) {
    .place__title {
        max-width: 320px;
        font-size: 40px;
    }
}

@media screen and (max-width: 402px) {
    .place__title {
        min-width: 200px;
    }
}


@media screen and (max-width: 320px) {
    .place__title {
        line-height: 109%;
        font-size: 32px;
        max-width: 268px;
        margin-bottom: 32px;
    }
}