.page {
    width: 100%;
    max-width: 1280px;
    background-color: #2A2C2F;
    margin: 0 auto;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}