.page {
    width: 100%;
    max-width: 1280px;
    background-color: #2A2C2F;
    margin: 0 auto;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 1024px) {
    .page {
       max-width: 1024px;
    }
}

@media screen and (max-width: 900px) { 
    .page {
        max-width: 900px;
}
}
@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;
    }
}
@media screen and (max-width: 775px) {
    .page {
        max-width: 775px;
    }
}
@media screen and (max-width: 670px) {
    .page {
        max-width: 670px;
    }
}
@media screen and (max-width: 642px) {
    .page {
        max-width: 642px;
    }
}
@media screen and (max-width: 552px) {
    .page {
        max-width: 552px;
    }
}

@media screen and (max-width: 320px) {
    .page {
        max-width: 320px;
    }
}