.header__links {
    max-width: 10%;
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-left: auto;
}

@media screen and (max-width: 1024px) {
    .header__links {
    margin-top: 18px;
    }
}
@media screen and (max-width: 768px) {
    .header__links {
        margin-top: 40px;
        margin-right: 0;
}
    }
    @media screen and (max-width: 585px) {
        .header__links {
            margin-right: 32px;
    }
        }

@media screen and (max-width: 320px) {
    .header__links {
        margin-top: 8px;
        max-width: 62px;
        margin-right: 0;
    }
}