.place__image {
    min-width: 460px;
    min-height: 460px;
    margin-top: 0;
}

@media screen and (max-width: 1024px) {
    .place__image {
        min-width: 440px;
        min-height: 440px;
    }
}

@media screen and (max-width: 800px) {
    .place__image {
        min-width: 350px;
        min-height: 350px;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        min-width: 340px;
        min-height: 340px;
        max-height: 340px;
        max-width: 340px;
    }
}
@media screen and (max-width: 700px) {
    .place__image {
        max-width: 320px;
        min-height: 320px;
    }
}
@media screen and (max-width: 402px) {
    .place__image {
        min-width: 237px;
        min-height: 300px;
        margin-right: auto;
        margin-left: auto;
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        margin-bottom: 0;
    }
}