.intro__list {
    max-width: 690px;
    margin-left: 0;
    margin-top: 33px;
    font-weight: 700;
    color: #FFFFFF;
    list-style-type: none;
    padding-left: 0;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0em;
}

@media screen and (max-width: 1024px) {
    .intro__list {
        margin-top: 33px;
        margin-left: 0;
        max-width: 690px;
        font-size: 12px;
        line-height: 150%;
    }
}

@media screen and (max-width: 768px) {
    .intro__list {
        margin-top: 33px;
        margin-left: 0;
        max-width: 720px;
        line-height: 150%;
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .intro__list {
        max-width: 288px;
        margin-left: 0;
        line-height: 150%;
        font-size: 12px;
        margin-top: 34px;
    }
}