.place__content {
    max-width: 956px;
    display: flex;
    flex-direction: row;
    min-height: 76px;
    margin-bottom: 0;
}



@media screen and (max-width: 1024px) {
    .place__content {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .place__content {
        max-width: 720px;
        min-height: 46px;
    }
}
@media screen and (max-width: 650px) {
    .place__content {
        flex-direction: column;
        min-height: 0;
        
    }
}

@media screen and (max-width: 320px) {
    .place__content {
        min-height: 113px;
        max-width: 268px;
        margin-left: 16px;
        margin-right: 16px;
    }
}