.footer__links-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
    transition: opacity 0, 2 linear;
}

.footer__links-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 600px) {
    .footer__links-link {
        line-height: 110%;
        font-size: 18px;
        min-width: 186px;
        margin-left: 16px;
        margin-bottom: 32px;
    }

    .footer__links-link:last-child {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 320px) {
    .footer__links-link {
        line-height: 100%;
        font-size: 24px;
        justify-content: left;
    display: flex;
    }
}