.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 18px;
    max-width: 465px;
    text-decoration: none;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

@media screen and (max-width: 600px) {
    .footer__links {
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 32px;
    }
}