.place__paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 163%;
    max-width: 484px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 0;
}

.place__paragraph:first-child {
    margin-top: 0;
    margin-bottom: 26px;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        width: 100%;
        max-width: 352px;
    }

    .place__paragraph:first-child {
        margin-bottom: 23px;
    }
    .place__paragraph:last-of-type {
        margin-bottom: 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 407px) {
    .place__paragraph {
        min-width: unset;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        margin-left: 0;
        margin-right: 0;
        max-width: 288px;
    }
    .place__paragraph:first-of-type {
        max-width: 280px;
    }
    .place__paragraph:nth-of-type(4){
        max-width: 280px;
    }
}