.lead__image {
    margin-bottom: 0px;
    max-width: 984px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    min-height: 615px;
    object-fit: contain;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 928px;
        margin-top: 56px;
        min-height: unset;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .lead__image {
    min-height: 400px;
    height: 100%;
    padding-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        max-width: 768px;
        margin-top: 56px;
        height: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 675px) {
    .lead__image {
        max-width: 675px;
        margin-top: 56px;
        min-height: unset;
    }
}
@media screen and (max-width: 450px) {
    .lead__image {
        margin-top: 0;
    }
}
@media screen and (max-width: 320px) {
    .lead__image {
        max-width: 320px;
        margin-top: 40px;
        height: 100%;
        width: unset;
    }
}