.place__website-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 122%;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 48px;
    text-decoration-line: underline;
    transition: opacity 0.2s linear;
}

.place__website-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .place__website-link {
        margin-bottom: 26px;
    }
}

@media screen and (max-width: 320px) {
    .place__website-link {
        margin-top: 0;
    }
}