.lead__subtitle {
    font-family: 'Inter';
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0em;
    text-align: center;
    max-width: 640px;
    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        font-size: 30px;
        max-width: 640px;
        margin-top: 32px;
        margin-right: auto;
        margin-left: auto;
        line-height: 120%;
        margin-right: 144px;
    }
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        margin-top: 32px;
        font-size: 30px;
        max-width: 640px;
        line-height: 120%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 530px) {
    .lead__subtitle {
        margin-top: 32px;
        font-size: 25px;
        max-width: 640px;
        line-height: 120%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 450px) {
    .lead__subtitle {
        margin-top: 16px;
    font-size: 20px;
    line-height: 125%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
    }
}
@media screen and (max-width: 402px) {
    .lead__subtitle {
        font-size: 16px;
    max-width: 298px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    }
}
@media screen and (max-width: 320px) {
    .lead__subtitle {
        margin-top: 16px;
    font-size: 16px;
    max-width: 298px;
    line-height: 125%;
    margin-right: 0;
    margin-left: 0;
    }
}
