.cover {
  display: flex;
  background-image: url(../../images/__background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 740px;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 92px;
}

.cover::after {
    content: "";
    width: 0;
    height: 0;
    margin-left: -1px;
    padding-top: calc(740 / 1184 * 100%);
}
@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        min-height: 640px;
        margin-left: 0px;
    }
    .cover::after {
        padding-top: calc(640 / 1024 * 100%);
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
    }
    .cover::after {
        padding-top: calc(480 / 768 * 100%);
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
        margin-top: 66px;
    }
    .cover::after {
        padding-top: calc(200 / 320 * 100%);
    }
}