.place__website-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 2px;
    text-align: left;
    color: #AAAAAA;
    max-width: 456px;
    margin-bottom: 12px;
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .place__website-title {
        line-height: 100%;
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .place__website-title {
        max-width: 288px;
    }
}