.cover__item {
    display: block;
    justify-content: center;
    width: 100%;
    background: rgba(0 0 0 / 0.3);
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    text-decoration: none;
}

.cover__item:hover {
    background: #2A2C2F;
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .cover__item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 320px) {
    .cover__item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}