.intro__title {
    font-family: 'Inter';
    font-size: 54px;
    font-weight: 900;
    line-height: 107%;
    letter-spacing: 0em;
    text-align: left;
    max-width: 690px;
    margin-left: 0;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 0;
}

@media screen and (max-width: 1024px) {
    .intro__title {
        max-width: 690px;
        margin-left: 0;
        font-size: 54px;
        line-height: 107%;
    }
}

@media screen and (max-width: 768px) {
    .intro__title {
        max-width: 720px;
        margin-left: 0;
        font-size: 54px;
        line-height: 107%;
    }
}

@media screen and (max-width: 450px) {
    .intro__title {
        line-height: 108%;
        font-size: 45px;
    }
}
@media screen and (max-width: 350px) {
    .intro__title {
        font-size: 38px;
        line-height: 108%;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        max-width: 288px;
        margin-left: 0;
        font-size: 32px;
        line-height: 109%;
    }
}